html, body {
    height: 100%;
}
body {
    color: #222;
    font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
}
h1, h2, h3 {
    color: #222;
    font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 26px;
    margin: 32px 0 32px 0;
}
h4 {
    font-size: 23px;
    font-weight: 400;
    margin: 5px 0 8px 0;
    line-height: 1.4;
}
p {
    color: #555555;
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
    margin-top: 18px;
}
hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    box-sizing: content-box;
}
code {
    background: #f7f7f7;
    padding: 1px 5px;
    border-radius: 2px;
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 15px;
}
.title {
    background: #f7f7f7;
}
.title h1 {
    margin: 0;
    padding: 20px 0;
    font-weight: 300;
}
.docs {
    padding: 20px 0 60px 0;
}
.navigation {
    width: 25%;
    float: left;
}
.docs-content {
    width: 75%;
    float: left;
}
.side-nav {
    padding-right: 15px;
}
.side-nav li {
    font-size: 16px;
    padding: 8px 15px;
}
.side-nav li a {
    color: #8A9191;
    display: block;
    text-decoration: none;
    line-height: inherit;
}
.side-nav li:hover, .side-nav li.active {
    background: #f7f7f7;
}
.side-nav li:hover a, .side-nav li.active a{
    color: #000;
}
.side-nav-head {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    padding: 0 48px 6px 0 !important;
    background: transparent !important;
}
.docs-content h2 {
    padding-top: 0;
    margin-top: 0;
}
.hljs {
    font-size: 14px;
    padding: 24px;
}
